@import "tailwindcss";

@theme {
  /* variables tipograficas */
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
  --font-mono: 'JetBrains Mono', 'Fira Code', monospace;

  /* paleta base */
  --color-black: oklch(0.10 0 0);
  --color-white: oklch(0.99 0 0);
  --color-muted: oklch(0.45 0 0);
}

body
{
  -webkit-font-smoothing: antialiased;
}
